
# Default ignored files
/workspace.xml
/.idea
/target
src/test/resources/feature/
/.gradle/
/out/
/build/
/bin/
/.scannerwork/
/.sonar/
/.settings/
java/util/CSV.java


### Gradle ###
.gradle
build/
